
@import "tailwindcss";

@font-face{
  font-family: Roboot-light;
  src: url('/fonts/Roobert-light.otf') format('opentype');
  font-style: normal;
}

@font-face{
  font-family: Roboot-Medium;
  src: url('/fonts/Roobert-Medium.otf') format('opentype');
  font-style: normal;
}

@font-face{
  font-family: Roboot-Bold;
  src: url('/fonts/Roobert-Bold.otf') format('opentype');
  font-style: normal;
}
 /*padding: 1.5rem;*/
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

#hotFIX {
  visibility: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.RoobootLight {
  font-family: Roboot-light;
}

.RoobootMedium {
  font-family: Roboot-Medium;
}

.RoobootBold {
  font-family: Roboot-Bold;
}

h1 {
  
  line-height: 1.1;
  font-family: Roboot-Medium;
}

button{
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}
.popup-content {
  
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

.popup-arrow {
  color: rgb(0, 0, 0);
}




.NavButton {
  border-radius: 5px;
  color: rgb(153, 153, 153);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: Roboot-Light;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}
.NavButton:hover {
  
  color: black;
  background-color: rgb(168, 85, 247);
}
button:focus,


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
